<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #C3BABA;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarExample01">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">{{ 'navbar.home'|trans }}</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/book/mark">{{ 'navbar.bookmarks'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book">{{ 'navbar.book'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category/cailloux">{{ 'navbar.stones'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/author">{{ 'navbar.authors'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/employe">{{ 'navbar.employees'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adresse">{{ 'navbar.address'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tag">{{ 'navbar.tag'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Navbar -->