{% extends 'base.html.twig' %}

{% block title %}{{ 'book.list.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">{{ 'book.list.title'|trans }}</h1>

        <div class="d-flex mb-3">
            <div class="input-group w-auto">
                <input
                        type="text"
                        class="form-control"
                        placeholder="{{ 'book.list.filter.placeholder'|trans }}"
                        aria-label="{{ 'book.list.filter.placeholder'|trans }}"
                        aria-describedby="button-addon1"
                        id="book-letter"
                />
                <button class="btn btn-primary" type="button" id="button-addon1">
                    {{ 'book.list.filter.button'|trans }}
                </button>
                <button class="ml-3 btn bg-success" onclick="window.location.reload();">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                        <path d="..." />
                    </svg>
                </button>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>{{ 'book.field.titre'|trans }}</th>
                <th>{{ 'book.field.date_creation'|trans }}</th>
                <th>{{ 'book.field.author'|trans }}</th>
                <th>{{ 'book.field.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.titre }}</td>
                    <td>{{ book.dateCreation|date('d/m/Y H:i') }}</td>
                    <td>
                        {% if book.author is not null %}
                            {{ book.author.nom ~ ' ' ~ book.author.prenom }}
                        {% else %}
                            {{ 'book.author.unknown'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('book_edit', { id: book.id }) }}" class="btn btn-sm btn-outline-primary" title="Modifier">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center text-muted">{{ 'book.list.empty'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if baseUrl %}
            <a href="{{ baseUrl }}/add" class="btn btn-primary my-3">{{ 'book.action.add'|trans }}</a>
        {% endif %}
        <p>{{ 'book.count'|trans({'%count%': countBook}) }}</p>
        {% if baseUrl %}
            <a href="{{ baseUrl }}" class="btn btn-secondary">{{ 'book.action.back'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}
