{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <h1 class="mb-4">Ajouter une adresse</h1>

                {{ form_start(formulaire_adresse) }}

                <div class="mb-3">
                    {{ form_label(formulaire_adresse.ville) }}
                    {{ form_widget(formulaire_adresse.ville) }}
                </div>

                <div class="mb-3">
                    {{ form_label(formulaire_adresse.nomRue) }}
                    {{ form_widget(formulaire_adresse.nomRue) }}
                </div>

                <div class="mb-3">
                    {{ form_label(formulaire_adresse.numeroRue) }}
                    {{ form_widget(formulaire_adresse.numeroRue) }}
                </div>

                <div class="mb-3">
                    {{ form_label(formulaire_adresse.codePostal) }}
                    {{ form_widget(formulaire_adresse.codePostal) }}
                </div>

                <button type="submit" class="btn btn-success">Enregistrer</button>

                {{ form_end(formulaire_adresse) }}

                {% if baseUrl %}
                    <a href="{{ baseUrl }}" class="btn btn-secondary mt-3">Retour</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
